name: task
description: "Task"
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.2.6 <4.0.0"

dependencies:
  circular_gradient_spinner: ^0.0.3
  cupertino_icons: ^1.0.8
  either_dart: ^1.0.0
  equatable: ^2.0.7
  firebase_core: ^3.8.0
  flutter:
    sdk: flutter
  flutter_launcher_icons: ^0.14.1
  flutter_svg: ^2.0.16
  gap: ^3.0.1
  get_it: ^8.0.2
  go_router: ^14.6.1
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  intl: ^0.19.0
  nested: ^1.0.0
  provider: ^6.1.2
  yaml: ^3.1.2

dev_dependencies:
  build_runner: ^2.4.9
  flutter_gen: ^5.4.0
  flutter_gen_runner: ^5.4.0

  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter
  hive_generator: ^2.0.1
  mockito: ^5.4.4

flutter:
  uses-material-design: true
  assets:
    - assets/color/
    - assets/fonts/
    - assets/icons/
    - assets/app_icon/
    - assets/images/

  fonts:
    - family: Manrope
      fonts:
        - asset: assets/fonts/manrope/Manrope-Bold.ttf
        - asset: assets/fonts/manrope/Manrope-ExtraBold.ttf
        - asset: assets/fonts/manrope/Manrope-ExtraLight.ttf
        - asset: assets/fonts/manrope/Manrope-Light.ttf
        - asset: assets/fonts/manrope/Manrope-Medium.ttf
        - asset: assets/fonts/manrope/Manrope-Regular.ttf
        - asset: assets/fonts/manrope/Manrope-SemiBold.ttf

flutter_gen:
  output: lib/core/design/atomic/tokens/gen
  integrations:
    flutter_svg: true
    lottie: true
  assets:
    enabled: true
    outputs:
      class_name: AssetsToken
  fonts:
    enabled: true
    outputs:
      class_name: FontFamilyToken
  colors:
    enabled: true
    outputs:
      class_name: ColorsToken
    inputs:
      - assets/color/colors.xml

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/app_icon/android.png"
  adaptive_icon_background: "#FFFFFF"
  remove_alpha_ios: true
